<clr-header class="header-1" id="header">
  <div class="branding">
    <a href="/#home">
      <img class="logo" src="../assets/images/cv-logo.svg" alt="Cristina Veale Logo">
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="2">
    <a href="/#home" class="active nav-link nav-text">
      Home
    </a>
    <a href="/#about" class="nav-link nav-text">
      About
    </a>
    <a href="/#portfolio" class="nav-link nav-text">
      Portfolio
    </a>
    <a href="/#services" class="nav-link nav-text">
      Services
    </a>
    <a href="/#contact" class="nav-link nav-text">
      Contact
    </a>
  </div>
  <div class="header-actions">
    <a href="..." role="tooltip" aria-haspopup="true" class="nav-link nav-icon tooltip tooltip-sm tooltip-bottom-left">
      <clr-icon shape="download"></clr-icon>
      <span class="tooltip-content">Download Resume</span>
    </a>
  </div>
</clr-header>
