@import "variables";

clr-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  .branding {
    min-width: auto;
    align-items: center;
    .logo {
      height: 40px;
    }
  }
  .header-nav {
    li {
      cursor: pointer;
      color: $white;
      font-weight: 600;
      &:hover {
        color: $purple;
      }
    }
  }
}

.nav-link.active {
  color: $purple;
}

.header,
.header.header-1,
header,
header.header-1 {
  background-color: $gray;
}

.header .header-nav .nav-link,
header .header-nav .nav-link {
  opacity: 1;
}
