@import "variables";

clr-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  .branding {
    min-width: auto;
    align-items: center;
    .logo {
      height: 40px;
    }
  }
  .header-nav {
    li {
      cursor: pointer;
      color: $white;
      font-weight: 600;
      &:hover {
        color: $purple-2;
      }
    }
  }
}

.nav-link.active {
  color: $purple-2;
}

.header,
.header.header-1,
header,
header.header-1 {
  background: rgb(61, 59, 63);
  background: linear-gradient(
    90deg,
    rgba(61, 59, 63, 1) 60%,
    rgba(98, 40, 101, 1) 74%,
    rgba(160, 85, 141, 1) 91%,
    rgba(204, 98, 129, 1) 100%
  );
  opacity: 0.8;
}

.header .header-nav .nav-link,
header .header-nav .nav-link {
  opacity: 1;
}
