<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1>About Me</h1>
          <aside>
            <p class="p1">
              "Find your voice and inspire others to find theirs."
              <br>-Stephen Covey
            </p>
          </aside>
        </div>
      </div>
      <!-- col 12 -->
      <div class="col-md-7 col-sm-12 col-xs-12 about-text">
        <h3>I am a digital advocate with a passion for building beautiful, responsive web products.</h3>
        <p>
          I've been building web applications with
          <a href="https://www.cardinalsolutions.com" target="_blank">Cardinal Solutions</a> for the past three years. Solving unique problems, collaborating with others, and growing
          from the outcome of my work, are all reasons why I love doing what I do.
        </p>
        <p>
          Despite web development being such a fundamental skill behind everything we do online, it is also a wonderful viewpoint from
          which to see the world - and I aim to make that accessible for others.
        </p>
        <p>
          In my free time I enjoy creative hobbies, hanging out with my loved ones, and being a community service leader. Since 2015,
          I have been the Charlotte chapter leader of
          <a href="https://www.girldevelopit.com" target="_blank">Girl Develop It</a>, a non-profit dedicated to providing affordable, judgment-free opportunities for women interested
          in software engineering. Come be apart of our
          <a href="https://www.meetup.com/gdi-clt" target="_blank">community</a>.
        </p>
      </div>
    </div>
  </div>
</section>
