<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1>About Me</h1>
          <aside>
            <p class="p1">
              "Find your voice and inspire others to find theirs."
              <br>-Stephen Covey
            </p>
          </aside>
        </div>
      </div>
      <!-- col 12 -->
      <div class="col-md-6 col-sm-12 col-xs-12 about-text">
        <h3>I am a creative developer.</h3>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia.</p>
        <a class="btn btn-light">Download Resume</a>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 about-text">
        <h3>I am a creative developer.</h3>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia.</p>
        <a class="btn btn-light">Download Resume</a>
      </div>
    </div>
  </div>
</section>
