@import 'mixins';

#about {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  @include breakpoint(xs) {
    padding: 84px 0;
  }
  aside {
    margin: 24px 0 64px 0;
  }
}
