<section id="about" class="pb6">
  <div class="about-second-img"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1>About Me</h1>
          <!-- <aside>
            <p class="p1">
              "Find your voice and inspire others to find theirs."
              <br />-Stephen Covey
            </p>
          </aside> -->
        </div>
      </div>
      <!-- col 12 -->
      <div class="about-text pa3">
        <p>
          Currently, I am a Developer Advocate for
          <a href="https://www.datastax.com" target="_blank">DataStax</a>, the
          only active-everywhere database enterprise for cloud platforms.
          Solving unique problems, giving back to my community, and growing from
          the outcome of my work, are all reasons why I love doing what I do.
        </p>

        <p>
          This passion is the compass for the roles and projects I take on, with
          a primary interest in promoting
          <a href="https://adevait.com/state-of-women-in-tech/">women in STEM</a
          >. This has been expressed throughout my career in various forms, like
          becoming a full-stack teaching assistant for UNC-Charlotte's Coding
          Boot Camp, and
          <a href="https://www.gdiclt.com">former Chapter leader</a> of the
          Charlotte Chapter of Girl Develop It (GDI).
        </p>

        <p>
          This past January, my colleagues and I have started Queen City Bytes,
          an organization dedicated to supporting women by offering technical
          instruction, educational resources, and an environment where
          networking and mentorship are valued. Come be apart of our
          <a href="https://www.meetup.com/qc-bytes" target="_blank">community</a
          >.
        </p>
        <p>
          Another initiative I am proud to be a leader of is
          <a href="https://www.fleurixconf.com/">Fleurix</a>, Charlotte's first
          Women in Technology Conference. Fleurix aims to increase the number of
          women pursuing and thriving in technology-related careers by
          connecting women with an inspiring community and accessible resources
          that can help conquer common barriers to entry, retention, and
          promotion of women in IT.
        </p>
        <p>
          And hey, maybe I'm biased, but the best tech community I've seen thus
          far is none other than the
          <a href="https://www.charlottedevs.com">Charlotte Devs</a>. Our
          mission is to grow Charlotte's tech community by bringing together
          developers of all skill levels and interests. We are not only focused
          on discussing and improving particular skillsets, but to improve the
          Charlotte Developer community as a whole through various interactions.
          One of those interactions includes Slack, an integrated chat
          application (like AIM for adults). Join our conversation by
          <a
            href="https://join.slack.com/t/charlottedevs/shared_invite/enQtMzg4ODU4NTAxNjY5LTY2YTY4MWNhNjVmYTAzZGQyYzMyZmZkNTE0NDBkMGMzMDI4YjdkYWFjYzk3ZjVjZGUxYWY2MjE3MGQ3NzMyMWE"
            >clicking this link</a
          >.
        </p>
        <p>
          <i
            >Advocating for aspiring technologists is my passion and ingrained
            in my work. If you'd like to know more about the tech industry, tips
            on how to get started, or want to learn more about who I am,
            <a href="#contact">let's chat</a> over a cup of coffee.</i
          >
        </p>
      </div>
    </div>
  </div>
</section>
