@import 'variables';
@import 'mixins';

#contact {
  background: $gold;
  img {
    height: $baseline * 3;
    @include breakpoint(xs) {
      height: $baseline * 2;
    }
  }
  footer {
    font-size: $sub-baseline * 1.4;
  }
}
