@import "variables";
@import "mixins";

#contact {
  background: $purple;
  color: $white;
  h1,
  h3,
  p,
  a {
    color: $white;
  }
  img {
    height: $baseline * 3;
    @include breakpoint(xs) {
      height: $baseline * 2;
    }
  }
  footer {
    font-size: $baseline;
  }
}
