<section id="contact" class="text-center pt5 pb2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center pb5">
          <h1>Let's Connect!</h1>
          <p>If you're in need of freelance work, consultation, or want to connect via social media, click on one of the icons
            below.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="mailto:dvlp.this@gmail.com">
          <img class="contact-icon" src="../../assets/images/email.svg" alt="email dvlp.this@gmail.com">
        </a>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="https://github.com/cristinaveale" target="_blank">
          <img src="../../assets/images/github.svg" alt="cristina veale github">
        </a>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="https://www.linkedin.com/in/cristinaveale/" target="_blank">
          <img src="../../assets/images/linkedin.svg" alt="cristina veale linkedin">
        </a>
      </div>
      <div class="col-md-3 col-xs-3 pb6">
        <a href="https://www.instagram.com/dvlp_this" target="_blank">
          <img src="../../assets/images/instagram.svg" alt="develop this' instagram page">
        </a>
      </div>
      <div class="col-md-12">
        <footer>This website was custom made with love, by Cristina Veale.</footer>
      </div>
    </div>
  </div>
</section>
