<section id="organizations" class="text-center pt5 pb2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <a href="">
          <img
            class="organizations-icon"
            src="../../assets/images/meetup.svg"
            alt=""
          />
        </a>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="">
          <img
            class="organizations-icon"
            src="../../assets/images/meetup.svg"
            alt=""
          />
        </a>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="">
          <img
            class="organizations-icon"
            src="../../assets/images/meetup.svg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</section>
