<section id="portfolio" class="text-center pt5 pb6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center pb4">
          <h1>Latest Works</h1>
          <p>Here are some public-facing projects I've recently helped program.</p>
        </div>
      </div>
    </div>
    <div class="row portfolio-work">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="https://www.epri.com/#/?lang=en" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/epri-logo.png" alt="..." />
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="http://www.infodepot.org/" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/scpl-logo.png" alt="..." />
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="https://www.spx.com/" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/spx-logo.png" alt="..." />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
