<section id="portfolio" class="text-center pt5 pb6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h1>Latest Works</h1>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>
    <div class="row portfolio-work">
      <div class="col-md-4 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
