<section id="services" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb5">
        <h1>Services</h1>
        <p>Lorem Ipsum</p>
      </div>
      <div class=" col-md-4 col-sm-6">
        <div class="services-item" fxLayout="row">
          <div class="services-icon">
            <span>
              <clr-icon shape="computer" size="64"></clr-icon>
            </span>
          </div>
          <div class="services-info">
            <h4>Web Development</h4>
            <p>I can help you build beautiful, responsive websites - whether that be custom made, or from a website builder
              - let me do the heavy lifting.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="services-item">
          <div class="services-icon">
            <span>
              <clr-icon shape="users" size="64"></clr-icon>
            </span>
          </div>
          <div class="services-info">
            <h4>Consulting</h4>
            <p>Web consulting, tips on breaking into the IT industry, job seeking, and more.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="services-item">
          <div class="services-icon">
            <span>
              <clr-icon shape="library" size="64"></clr-icon>
            </span>
          </div>
          <div class="services-info">
            <h4>Tutoring</h4>
            <p>Personalized training in technologies including: HTML5, CSS3, Sass, JavaScript, and Angular 2+.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
