// Colors
$white: #fff;
$off-white: #f2f2f2;
$gray: #010101;
$gray-2: #282828;
$gray-3: #3d3b3f;
$purple: #a378c5;
$purple-2: #c0a0df;
$purple-3: #6b215f;
$purple-4: #9f548c;

// vertical height
$vh: 100vh;

// font size / font weight
$fw: 600;
$font-size: 12px;
$sm-font-size: 14px;

// Spacing
$sub-baseline: 8px;
$baseline: 16px;
