// Colors
$white: #fff;
$off-white: #f2f2f2;
$purple: #e1b15d;
$gray: #010101;
$gray-2: #282828;
$purple: #dd8193;
$purple: #7b3f92;

// vertical height
$vh: 100vh;

// font size / font weight
$fw: 600;
$font-size: 12px;
$sm-font-size: 14px;

// Spacing
$sub-baseline: 8px;
$baseline: 16px;
