$white: #fff;
$off-white: #f2f2f2;
$gray: #010101;
$text-gray: $off-white;
$gold: #e1b15d;

// vertical height
$vh: 100vh;

// fonts
$fw: 600;
$font-size: 16px;
$sm-font-size: 12px;

// Spacing
$sub-baseline: 8px;
$baseline: 16px;
