@import 'mixins';
@import 'root';

.intro {
  background: url(../../assets/images/bg-cv.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
  @include breakpoint(xs) {
    background-size: cover;
    background-attachment: scroll;
  }
}

.intro-msg {
  position: absolute;
  top: 48%;
  left: 40%;
  max-width: 13rem;
  -webkit-transform: translate(-68%, -50%);
  -moz-transform: translate(-68%, -50%);
  transform: translate(-68%, -50%);
  @include breakpoint(xs) {
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }
  h1 {
    color: white;
    @include breakpoint(xs) {
      font-size: 23px;
    }
  }
}
