<section id="publishing" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb5">
        <h1>Publications</h1>
        <p>Lorem Ipsum</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-sm-6">
        <a href="..." class="card clickable">
          <div class="card-img">
            <img src="...">
          </div>
          <div class="card-block">
            <p class="card-text">
              ...
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
