<section id="publications" class="text-center pt5 pb6">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb5">
        <h1>Publications</h1>
        <p>Publications that talk about my community service efforts, or articles I've written.</p>
      </div>
      <div class="card-columns pa2">
        <a href="https://clclt.com/charlotte/local-developers-join-forces-to-help-women-thrive-in-growing-field/Content?oid=9112445"
          class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/cl-image.jpg">
          </div>
          <div class="card-block">
            <p class="card-text">
              Local Developers Join Forces to Help Women Thrive in Growing Field
            </p>
            <span class="card-subtext">By Ryan Pitkin, photo by Brittani Burns</span>
          </div>
        </a>
        <a href="https://insights.dice.com/2017/10/13/networking-tips-tech-pros-charlotte-nc/" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/networking.jpg">
          </div>
          <div class="card-block">
            <p class="card-text">
              Networking Tips for Tech Pros in Charlotte, NC
            </p>
            <span class="card-subtext">By Leslie Stevens-Huffman</span>
          </div>
        </a>
        <a href="http://blog.techtalentsouth.com/cristina-tech-recruiter-to-developer" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/tts.png">
          </div>
          <div class="card-block">
            <p class="card-text">
              Cristina Veale: From Tech Recruiter to Front End Developer
            </p>
            <span class="card-subtext">By Meagan Michal</span>
          </div>
        </a>
        <a href="https://medium.com/cardinal-solutions/how-to-become-a-front-end-developer-or-any-at-that-686faa8ea9af" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/cv-article.jpeg">
          </div>
          <div class="card-block">
            <p class="card-text">
              How I Became a Developer in 8 Months
            </p>
            <span class="card-subtext">By Cristina Veale</span>
          </div>
        </a>
        <a href="https://wearehygge.com/blog/girl-develop-it-orthocarolina-living-room/" class="card clickable">
          <div class="card-img">
            <img src="../../assets/images/hygge.jpg">
          </div>
          <div class="card-block">
            <p class="card-text">
              Closing the Gender Gap in the Tech Industry
            </p>
            <span class="card-subtext">By Hygge</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
